body {
  font-family: 'Poppins', sans-serif;
  background: #f8fbff;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
}

.main-content {
  margin-left: 240px;
  padding: 20px;
}

.player-card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background: white;
  padding: 15px;
  text-align: center;
  margin: 10px;
}
.player-card img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.player-card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.nav-link:hover {
  color: yellow !important;
}
